.search {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.search_bar {
  background-color: #FED8B1;
  color: gray;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 0 20px 20px 0;
  width: 250px;
}

.search_icon {
  background-color: #FED8B1;
  border-radius: 20px 0 0 20px;
  padding: 3px;
}

.recipes_container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 225px;
  width: 85%;
  overflow: scroll;
  margin-left: 10%;
}