:root{
  --primary: #fff;
  --background-color: #FD7F20;
  --hover-color: #FFAF19;
}

header {
  background-color: var(--background-color);
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  box-sizing: border-box;
}

header > h2 {
  color: var(--primary);
  font-size: large;
}

.header_button:hover {
  background-color: var(--hover-color);
  font-weight: 300;
  box-shadow: 3px 3px var(--primary);
}

.header_button {
  color: var(--primary);
  border: none;
  background-color: inherit;
  padding: 5px;
}